<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}">
    
    <title>JM CONCESSIONARIA </title>
</head>
<body>
    <nav-bar>
        <a class="logo" href="{{ url_for('veiculos_bp.index')}}">JM Veiculos </a>
        <div class="menu">
        <ul class="nav-list">
            <li> <a class="li" href="{{ url_for('veiculos_bp.indexNovos')}}"></a>NOVOS</li>
            <li> <a class="li" href="{{ url_for('veiculos_bp.indexUsados')}}"></a>USADOS</li>   
            <li> <a class="li" href="{{ url_for('veiculos_bp.store')}}"></a>CADASTRAR</li>
        </ul>
        </div>
    </nav-bar>
    <main>
        <div class="carrosel">
            <div class="container">
                
                <img src="/templates/imagens/imagem_1.jpg" alt="" class="edit_img" >
                
                <!-- <img src="/templates/imagens/imagem_1.jpg" alt="" > -->
                <!-- <img src="/templates/imagens/imagem_1.jpg" alt="" > -->
            </div>
        </div>
        
    </main>

    <footer>
        <div class="footer-center"> &copy;2023 JM CONCESSIONARIA </div>
    </footer>
</body>
</html>